{% extends 'base.html' %}
{% block body %}
<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Scratbot Control Center</h1>
        <p></p>
    </div>

   	<div class="alert alert-success" role="alert" id="status_div">
        Dummy status message
 	</div>

    <div class="page-header">
        <h1>Controls</h1>
    </div>
    <form class="bs-example bs-example-form" method="post">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input id="move_distance" type="text" placeholder="200" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button id="move_forward_button" type="button" class="btn btn-default">Forward</button>
                        <button id="move_reverse_button" type="button" class="btn btn-default">Reverse</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input id="rotate_degrees" type="text" placeholder="90" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button id="rotate_clockwise_button" type="button" class="btn btn-default">Clockwise</button>
                        <button id="rotate_counterclockwise_button" type="button" class="btn btn-default">CounterCW</button>
                    </div>
                </div>
            </div>
             <p>
        <button id="scan_button" type="button" class="btn btn-primary">Scan</button>
        <button id="kill_button" type="button" class="btn btn-danger">Kill</button>
      </p>
        </div>
    </form>
    <div class="page-header">
        <h1>Data</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Text</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in history_list %}
                    <tr>
                        <th>{{ item.time.strftime('%a %H:%M:%S')}}</th>
                        <th>{{ item.name }}</th>
                        <th><span class="label label-{% if item.label == 'error' %}danger">Error
                            {% elif item.label == 'success' %}success">OK{% elif item.label == 'warning' %}warning">Event{% else %}info">Info{% endif %}
                            </span>&nbsp;{{ item.value }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#scan">Scan</a></li>
                <li role="presentation"><a href="#map">Map</a></li>
                <li role="presentation"><a href="#video">Video</a></li>
            </ul>

        </div>
    </div>
</div>
<script>
    var req;
    function getStatus() {
        req = new XMLHttpRequest();
        req.open('GET', 'api/getstatus', true);
        req.onreadystatechange = ClientSideUpdate;
        req.send();
    }

    function ClientSideUpdate() {
        var result;

        if (req.readyState == 4) {
            result = req.responseText;

            var statuses = JSON.parse(result)["statuses"];

            console.log(result + "\n" + "Statuses: " + statuses);

            if (statuses != null) {
                var status_div = document.getElementById("status_div");
                status_div.style.visibility="visible";
                var current_status = statuses[statuses.length - 1];
                if (current_status.code == 0) {
                    status_div.setAttribute('class', "alert alert-success");
                    status_div.innerHTML = "<strong>Success! </strong>" + current_status.result ;
                }
                else {
                    status_div.setAttribute('class', "alert alert-danger");
                    status_div.innerHTML = "<strong>Aborted!</strong> " + current_status.string + current_status.result;
                }
            }
        }
    }

    function SendMoveForward() {
        var do_move = new XMLHttpRequest();
        var params = "distance=" + document.getElementById("move_distance").value;
        do_move.open('POST', 'api/moveforward');
        do_move.send(params);
    }

    function SendMoveReverse() {
        var do_move = new XMLHttpRequest();
        var params = "distance=" + document.getElementById("move_distance").value;
        do_move.open('POST', 'api/movereverse');
        do_move.send(params);
    }

    function SendRotateClockwise() {
        var do_move = new XMLHttpRequest();
        var params = "degrees=" + document.getElementById("rotate_degrees").value;
        do_move.open('POST', 'api/rotateclockwise');
        do_move.send(params);
    }

    function SendRotateCounterclockwise() {
        var do_move = new XMLHttpRequest();
        var params = "degrees=" + document.getElementById("rotate_degrees").value;
        do_move.open('POST', 'api/rotatecounterclockwise');
        do_move.send(params);
    }

     function SendScan() {
        var do_move = new XMLHttpRequest();
        do_move.open('POST', 'api/sendscan');
        do_move.send();
    }

     function SendKill() {
        var do_move = new XMLHttpRequest();
        do_move.open('POST', 'api/sendkill');
        do_move.send();
    }

    window.onload = function() {
        document.getElementById("status_div").style.visibility = "hidden";
        document.getElementById("move_forward_button").addEventListener('click', SendMoveForward);
        document.getElementById("move_reverse_button").addEventListener('click', SendMoveReverse);
        document.getElementById("rotate_clockwise_button").addEventListener('click', SendRotateClockwise);
        document.getElementById("rotate_counterclockwise_button").addEventListener('click', SendRotateCounterclockwise);
        document.getElementById("scan_button").addEventListener('click', SendScan);
        document.getElementById("kill_button").addEventListener('click', SendKill);
    };

    getStatus();
    setInterval(getStatus, 1000);
</script>
{% endblock %}
