{% extends 'base.html' %}
{% block body %}
<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Scratbot Control Center</h1>
        <p>Hello</p>
    </div>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> {{ error }}
    </div>
    {% elif success %}
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    {% elif message %}
    <div class="alert alert-info" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    {% else %}
    <br>
    <br>
    {% endif %}
    <div class="page-header">
        <h1>Controls</h1>
    </div>
    <form class="bs-example bs-example-form" method="post">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">Forward</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Forward</a></li>
                            <li><a href="#">Reverse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">Clockwise</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Clockwise</a></li>
                            <li><a href="#">Counterclockwise</a></li>
                        </ul>
                    </div>
                </div>
            </div>
             <p>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
      </p>
        </div>
    </form>
    <div class="page-header">
        <h1>Data</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Text</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in history_list %}
                    <tr>
                        <th>{{ item.time.strftime('%a %H:%M:%S')}}</th>
                        <th>{{ item.name }}</th>
                        <th><span class="label label-{% if item.label == 'error' %}danger">Error
                            {% elif item.label == 'success' %}success">OK{% elif item.label == 'warning' %}warning">Event{% else %}info">Info{% endif %}
                            </span>&nbsp;{{ item.value }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#scan">Scan</a></li>
                <li role="presentation"><a href="#map">Map</a></li>
                <li role="presentation"><a href="#video">Video</a></li>
            </ul>

        </div>
    </div>

</div> <!-- /container -->
{% endblock %}
